body{

background:#111;

font-family:Arial;

color:white;

text-align:center;

}

.container{

margin-top:70px;

}

select{

padding:12px;

width:250px;

}

button{

padding:12px 20px;

background:#ff4757;

color:white;

border:none;

cursor:pointer;

margin-left:10px;

}

ul{

list-style:none;

padding:0;

}

li{

font-size:22px;

padding:8px;

}